# Задание

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../project-2/datasets/multipleChoiceResponses.csv', low_memory=False) # Указываем путь к файлу

In [3]:
df

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,575,Male,-1,45-49,France,Doctoral degree,"Computer science (software engineering, etc.)",Chief Officer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23856,131,Female,-1,25-29,Turkey,Master’s degree,Engineering (non-computer focused),NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23857,370,Male,-1,22-24,Turkey,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23858,36,Male,-1,25-29,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23859,502,Male,-1,25-29,Spain,Master’s degree,Mathematics or statistics,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [4]:
name2question = df.iloc[0]
df.drop(0, inplace=True)

## Задание 1. Объединить два датасета

In [5]:
df1 = pd.read_csv('../project-2/datasets/freeFormResponses.csv', low_memory=False)

In [6]:
name2question1 = df1.iloc[0]
df1.drop(0, inplace=True)

In [7]:
df.update(df1)

## Задание 2. Посчитать кол-во атакующих вертолетов

In [8]:
df['Q1_OTHER_TEXT'] = df['Q1_OTHER_TEXT'].apply(lambda x: x.lower())

In [9]:
df[df['Q1_OTHER_TEXT'] == 'attack helicopter']

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
2243,1041,Male,attack helicopter,18-21,China,Some college/university study without earning ...,"Computer science (software engineering, etc.)",Student,-1,I am a student,...,-1,NaN,Too time-consuming,Requires too much technical knowledge,NaN,NaN,NaN,NaN,NaN,-1
2304,913,Male,attack helicopter,35-39,"Iran, Islamic Republic of...",Master’s degree,"A business discipline (accounting, economics, ...",Student,-1,Academics/Education,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
12308,1321,Male,attack helicopter,25-29,Nigeria,Bachelor’s degree,Engineering (non-computer focused),Other,509,Energy/Mining,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
16229,795,Male,attack helicopter,18-21,Brazil,Bachelor’s degree,"Computer science (software engineering, etc.)",Student,-1,I am a student,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
22618,378,Female,attack helicopter,25-29,China,Bachelor’s degree,Mathematics or statistics,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

## Задание 3. Сконвертировать возраст и посчитать метрики

In [10]:
age_mapping = {
    '25-29': 27,
    '22-24': 23,
    '30-34': 32,  
    '18-21': 19,   
    '35-39': 37,   
    '40-44': 42,   
    '45-49': 47,    
    '50-54': 52,    
    '55-59': 57,    
    '60-69': 64,    
    '70-79': 75,     
    '80+': 80}

In [11]:
df['age_average'] = df['Q2'].map(age_mapping) 
df['age_average'].value_counts()

age_average
27    6159
23    5141
32    3776
19    3037
37    2253
42    1360
47     858
52     582
57     328
64     273
75      53
80      39
Name: count, dtype: int64

Размах, первый квантиль, третий квантиль, межквартальный размах, минимум, максимум, медиана, среднее-арифметическое

In [12]:
import numpy as np
import pandas as pd

def calculate_min(data):
    return np.min(data)

def calculate_max(data):
    return np.max(data)

def calculate_range(data):
    return calculate_max(data) - calculate_min(data)

def calculate_median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)
    
    if n % 2 == 1:
        return sorted_data[n // 2]
    else:
        return (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2

def calculate_quantile(data, p):
    if len(data) == 0:
        return np.nan
    
    sorted_data = sorted(data)
    n = len(sorted_data)
    
    pos = p * (n - 1)
    
    if pos.is_integer():
        return sorted_data[int(pos)]
    else:
        lower_pos = int(pos)
        upper_pos = lower_pos + 1
        weight = pos - lower_pos
        return (1 - weight) * sorted_data[lower_pos] + weight * sorted_data[upper_pos]

def calculate_q1(data):
    return calculate_quantile(data, 0.25)

def calculate_q3(data):
    return calculate_quantile(data, 0.75)

def calculate_iqr(data):
    return calculate_q3(data) - calculate_q1(data)

def calculate_mean(data):
    if len(data) == 0:
        return np.nan
    return sum(data) / len(data)

In [13]:
clean_data = df['age_average'].dropna().values
results = {
    'Минимум': calculate_min(clean_data),
    'Максимум': calculate_max(clean_data),
    'Размах': calculate_range(clean_data),
    'Среднее': calculate_mean(clean_data),
    'Медиана': calculate_median(clean_data),
    'Первый квартиль (Q1)': calculate_q1(clean_data),
    'Третий квартиль (Q3)': calculate_q3(clean_data),
    'Межквартильный размах (IQR)': calculate_iqr(clean_data)
}

for stat_name, value in results.items():
    print(f"{stat_name:30}: {value:8.2f}")

Минимум                       :    19.00
Максимум                      :    80.00
Размах                        :    61.00
Среднее                       :    30.07
Медиана                       :    27.00
Первый квартиль (Q1)          :    23.00
Третий квартиль (Q3)          :    32.00
Межквартильный размах (IQR)   :     9.00

## Задание 4. Построить pivot table по полу и занимаемой позиции

In [14]:
df['count'] = 1
pivot_gender_role = pd.pivot_table(
    df,
    values='count',
    index='Q1',
    columns='Q6',
    aggfunc='count',
    margins=True
)
pivot_gender_role

Q6,Business Analyst,Chief Officer,Consultant,DBA/Database Engineer,Data Analyst,Data Engineer,Data Journalist,Data Scientist,Developer Advocate,Manager,...,Other,Principal Investigator,Product/Project Manager,Research Assistant,Research Scientist,Salesperson,Software Engineer,Statistician,Student,All
Q1,,,,,,,,,,,,,,,,,,,,,
Female,154.0,18.0,100.0,21.0,418.0,95.0,1.0,687.0,12.0,43.0,...,262.0,10.0,55.0,126.0,196.0,14.0,359.0,58.0,1011.0,3851
Male,600.0,331.0,670.0,121.0,1476.0,629.0,18.0,3389.0,102.0,536.0,...,1035.0,83.0,363.0,460.0,974.0,86.0,2733.0,177.0,4171.0,18668
Prefer not to say,13.0,9.0,12.0,3.0,24.0,11.0,1.0,50.0,3.0,8.0,...,18.0,3.0,6.0,10.0,18.0,1.0,32.0,1.0,53.0,303
Prefer to self-describe,5.0,2.0,3.0,NaN,4.0,2.0,NaN,11.0,NaN,3.0,...,7.0,1.0,4.0,4.0,1.0,1.0,6.0,1.0,18.0,78
All,772.0,360.0,785.0,145.0,1922.0,737.0,20.0,4137.0,117.0,590.0,...,1322.0,97.0,428.0,600.0,1189.0,102.0,3130.0,237.0,5253.0,22900

## Задание 5. Корреляция между скоростью заполению опроса и кол-во пропущенных полей

In [15]:
df['Time from Start to Finish (seconds)'] = df['Time from Start to Finish (seconds)'].astype(int)
df['missing_values_count'] = df.isna().sum(axis=1)
df['missing_values_count'] += df.eq('-1').sum(axis=1)
correlation = df['Time from Start to Finish (seconds)'].corr(df['missing_values_count'])
print(f"Корреляция Пирсона между временем и пропусками: {correlation:.3f}")

Корреляция Пирсона между временем и пропусками: -0.024