# Задание

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('../DS_02.ID_1187045/datasets/kaggle_survey_2022_responses.csv') # Указываем путь к файлу

In [ ]:
name2question = data.iloc[0]
data.drop(0, inplace=True)

## Задание 1

In [ ]:
most_common_age = data['Q2'].value_counts().index[0]

In [ ]:
most_common_age

## Задание 2

In [ ]:
name2question['Q5']

In [ ]:
round(data[
    (data['Q4'].str.contains('Russia')) &
    (data['Q5'] == 'No')
]['Q3'].value_counts(normalize=True)['Woman'], 2)

## Задание 3

In [ ]:
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int)
mean_time = round(data['Duration (in seconds)'].mean() / 60, 2)
mean_time

## Задание 4

In [ ]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
q6_columns

In [ ]:
courses = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns)

In [ ]:
courses = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns)
courses = courses.value_counts().reset_index().iloc[:3]['value'].to_list()
courses

## Задание 5

In [ ]:
name2question['Q23']

In [ ]:
name2question['Q12_1']

In [ ]:
q12_columns = [col for col in data.columns if col.startswith('Q12')]

In [ ]:
lang = data[
    data['Q23'] == 'Data Scientist'
][q12_columns].melt(var_name='вопрос', value_vars=q12_columns)

In [ ]:
lang = lang.value_counts().reset_index().iloc[:5]['value'].to_list()
lang

## Задание 6

In [ ]:
name2question['Q23']

In [ ]:
name2question['Q29']

In [ ]:
data['Q23'].value_counts()

In [ ]:
data['Q29'].value_counts()

In [ ]:
import numpy as np

In [ ]:
def get_mean(row):
    if row is np.nan:
        return row
    row = row.split('-')
    row = [number.replace('$', '') for number in row]
    row = [round(int(number.replace('>', '')), -1) for number in row]
    if len(row) == 2:
        return np.mean(row)
    elif len(row) == 1:
        return row[0]

In [ ]:
data['Q29_NEW'] = data['Q29'].str.replace(',', '', regex=True).apply(func=get_mean)

In [ ]:
data[['Q23', 'Q29_NEW']].groupby('Q23').mean().round()

In [ ]:
data['zp_average'].value_counts()

In [ ]:
data['Q29_NEW'].value_counts()

In [ ]:
zp_mapping = {
    '$0-999': 500, 
    '10,000-14,999': 12500, 
    '30,000-39,999': 35000, 
    '1,000-1,999': 1500, 
    '40,000-49,999': 45000, 
    '100,000-124,999' : 112500, 
    '5,000-7,499' : 6250, 
    '50,000-59,999' : 55000, 
    '7,500-9,999' : 8750, 
    '150,000-199,999' : 175000, 
    '20,000-24,999' : 22500, 
    '60,000-69,999' : 65000, 
    '15,000-19,999' : 17500, 
    '70,000-79,999' : 75000, 
    '25,000-29,999' : 27500, 
    '2,000-2,999' : 2500, 
    '125,000-149,999' : 137500, 
    '3,000-3,999' : 3500, 
    '4,000-4,999' : 4500, 
    '80,000-89,999' : 85000, 
    '90,000-99,999' : 95000, 
    '200,000-249,999' : 225000, 
    '250,000-299,999' : 275000, 
    '300,000-499,999' : 400000, 
    '500,000-999,999' : 750000, 
    '>$1,000,000' : 1000000 
}
data['zp_average'] = data['Q29'].map(zp_mapping) 
data['zp_average'].value_counts().head(10) 
data.groupby(['Q23']).mean().sort_values('zp_average', ascending = False ).round()

In [ ]:
data[
    data['Q29'] == '500,000-999,999'
]